/*Reset for CSS*/
*,
*:before,
*:after {
    box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    font-family: 'Baloo 2', cursive;
    font-family: 'Nunito', sans-serif;
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*Project*/

.header {
    background: #4B5056;
    margin: 0 auto;
}

.header-content {
    max-width: 1360px;
    display:flex;
    margin: 0 auto;
}

.header-wrapper {
    background: url(../img/bg-img.png) no-repeat;
    background-position: 10px 0;
    background-size: 540px 623px; 
}

.menu-block {
    top: 0;
    position: sticky;
    z-index: 2;
    margin: 0 auto;
    width: 100%;
    background: linear-gradient(180deg, #787C85 0%, #4B5056 75.83%);
}

.header-box-1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 80px;
    max-width: 1440px;
}


.logo-name {
    color: #01ACB4;
    margin: 40px 80px;
    font-family: 'Baloo 2';
    font-weight: 800;
    font-size: 30px;
    line-height: 48px;
    text-align: left;
}

.logo {
    display: flex;
    margin: 80px;
    border: 8px solid #01ACB4;
    height: 460px;
    width: 460px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    animation: mymove 10s infinite;
}

@keyframes mymove {
        25% {transform: rotate(360deg);
    }
}


.icons {
    display: flex;
    text-align: center;
    margin: 54px 98px;
    gap: 21px;
    z-index: 88;
}

.icon {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 48px;
    height: 48px;
    background-color: #787C85;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
}

.nav {
    margin: 40px 130px 40px 0;
}

.nav-link {
    border: none;
    padding: 9px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #01ACB4;
}

.nav-link:hover {
    background: #01ACB4;
    color: #fff;
    transition: 0.4s ease-in-out;
}

/* Стили блок названия и время */
.head-section {
    background-color: #4B5056;
    max-width: 860px;
    margin-right: 40px;
    margin-top: 100px;
}

.head-desc {
    color: #01ACB4;
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}

.head-title {
    color: #01ACB4;
    font-family: 'Baloo 2';
    font-weight: 800;
    font-size: 80px;
    line-height: 128px;
}

.my-bd {
    color: #01ACB4;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 318px;
    height: 318px;
    border-radius: 50%;
    background-color: #343436;
    margin-left: 170px;
    position: relative;
    margin-right: 65px;
}

.away {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #343436;
    position: absolute;
    right: -65px;
    bottom: 0;
    mix-blend-mode: hard-light;
}

.away-title {
    color: #01ACB4;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}
/* стили таймера отсчета времени */
#timer {
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 38px;
    color: #01ACB4;
}
.time {
    margin-top: 12px;
    display: flex;
    justify-content: end;
    isolation: isolate;
}



/* < !-----------------Titles -----------------> */

/* блок dreams style */
.wrapper-section {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0 40px 0;
    background-color: #4B5056;
}

/* стили к шариками псевдоэлемент */
/* .name-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.name-section:before,
.name-section:after {
    content: '';
    display: inline-block;
    margin: 0 30px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: rgb(13, 0, 255);
} */
.img-dreams {
    width: 326px;
    height: 200px;
    margin: 30px 30px 0;
}
.card-dreams:hover .img-dreams {
    cursor: pointer;
    width: 386px;
    height: 230px;
    margin: 0;
    border-radius: 5px 5px 0 0;
}
.card-dreams:hover .desc-dreams {
    background-color: #01ACB4;
    color: white;
    cursor: pointer;
}
.desc-dreams {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #01ACB4;
    padding: 30px;
}
.card-dreams {
    display: inline-block;
    background: #787C85;
    border-radius: 5px;
    position: relative;
}
.like {
    display: none;
    position: absolute;
    top: 30px;
    left: 30px;
}
.card-dreams:hover .like {
    display: block;
    cursor: pointer;
}
/* блок brands style */
.card-brands {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #01ACB4;
    position: relative;
}
.desc-brands {
    padding: 20px;
}
.like-star {
    display: none;
} 
.card-brands:hover .like-star {
    display: block;
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 20px;
}
.img-brands {
    padding: 20px;
}
.card-brands:hover .img-brands {
    width: 200px;
    height: 200px;
    padding: 0;
    cursor: pointer;
}
.card-brands:hover .desc-brands {
    background-color: #01ACB4;
    color: white;
    cursor: pointer;
}
/* адаптив dreams and brands */
@media only screen
and (min-width: 320px)
and (max-width: 767px)  {
    .wrapper-section {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .img-dreams {
        width: 275px;
        height: 200px;
    }
    .card-dreams {
        margin-bottom: 60px;
    }
    .card-dreams:hover .img-dreams {
        width: 335px;
        height: 230px;
    }
    .card-brands {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        width: 100%;
    }
    .img-brands {
        width: 80px;
        height: 80px;
        padding: 0;
    }
    .desc-brands {
        padding: 30px;
        width: 100%;
    }
    .card-brands:hover .img-brands {
        width: 80px;
        height: 80px;
    }
    .card-brands:hover .like-star {
        display: none;
    }
}
/* < !-- Titles --> */

.box-title-1,
.box-title-2,
.box-title-4 
 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: #4B5056;
    gap: 30px;
    padding-top: 59px;


}

.box-title-3,
.box-title-5 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: #787C85;
    gap: 30px;
    padding-top: 59px;
}

.ellipse-1 {
    background: #787C85;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    mix-blend-mode: multiply;
}

.ellipse-2 {
    background: #787C85;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    mix-blend-mode: multiply;
}

.item {
    font-family: 'Baloo 2';
    font-weight: 800;
    font-size: 40px;
    line-height: 64px;
    color: #01ACB4;
}
 .item-2{
    font-family: 'Baloo 2';
    font-weight: 800;
    font-size: 40px;
    line-height: 64px;
    color: #fff;

}
/*------------------ Ideas Cards ----------------*/
.ideas-wrapper {
  background: #787c85;  
  }
.ideas {
   padding: 38px 0 100px; 
  margin:  0 81px;
  display: flex;
  justify-content: space-between;
}
.idea-card {
  flex: 0 0 30%;
  height: 330px;
  overflow: hidden;
  border-radius: 6px;
  background:#787c85;
  padding: 30px 30px 100px;
  position: relative;
  transition: padding 1s, background 1s;
}
.idea-img {
  max-width: 100%;
  border-radius: 4px;
}
.idea-caption{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 7;
  background: #787c85;
  transition: background 1s;
  font-family: Nunito;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;

}
.idea-icon {
  opacity: 0;
  position: absolute;
  top: 28px;
  left: 32px;
  transition: opacity 1s;
}
.idea-card:hover {
  padding: 1px 1px 100px;
  background:  #01ACB4;
}
.idea-card:hover .idea-img {
  border-radius: 6px;
}
.idea-card:hover .idea-caption {
  background:  #01ACB4;
}
.idea-card:hover .idea-icon {
  opacity: 1;
}
/*---------bad ideas------*/
.b-ideas-wrapper {
  background: #4B5056; 
  
}
.b-idea-card {
  flex: 0 0 30%;
  height: 330px;
  overflow: hidden;
  border-radius: 6px;
  background:#787c85;
  padding: 30px 30px 100px;
  position: relative;
  transition: padding 1s, background 1s;
}
.b-idea-caption {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 7;
  background: #787c85;
  transition: background 1s;
  font-family: Nunito;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
}
.b-idea-icon {
  opacity: 0;
  position: absolute;
  top: 28px;
  left: 32px;
  transition: opacity 1s;
}
.b-idea-card:hover {
  padding: 1px 1px 100px;
  background:  #0B0B0B;
}
.b-idea-card:hover .b-idea-caption {
  background:  #0B0B0B;
}
.b-idea-card:hover .b-idea-icon {
  opacity: 1;
}
/* ----------------Wishlist Cards--------------- */
.wishlist-wrapper {
    margin: 0 auto;
}

.wishlist-box {
    max-width: 100%;
    background-color: #787c85;
    display: flex;
    justify-content: center;
}

.wishlist-card {
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    margin: 30px;
}

.wishlist-card:hover img {
    transform: scale(1.1);
}

.wishlist-card:hover .wishlist-content-wrapper {
    opacity: 0.7;
}

img {
    transition: transform 0.9s;
}

.img-wish {
    max-width: 386px;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 6px;
}

.wishlist-content-wrapper {
    max-width: 386px;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: block;
    background: #01acb4;
    border-radius: 6px;
    transition: all 0.7s ease;
}

/*.wishlist-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}*/

.wishlist-content-wrapper svg {
    margin: 20px 0 60px 0;
}

.wishlist-title {
    font-family: 'Baloo 2';
    font-weight: 800;
    font-size: 30px;
    line-height: 120%;
    color: #FFFFFF;
    margin: 60px auto 20px;
}

.wishlist-link {
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-decoration: none;
    color: #FFFFFF;
}

/* Footer */
.footer-box {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #787C85;
    padding-top: 210px;
    position: relative;
    overflow: hidden;
}

.footer-logo {
    font-family: 'Baloo 2';
    font-weight: 800;
    font-size: 30px;
    line-height: 48px;
    color: #01ACB4;
    padding: 40px 0 40px 80px;
}

.letter {
    text-transform: uppercase;
}

.footer-logo:before {
    content: "";
    display: block;
    background: #787C85;
    width: 408px;
    height: 408px;
    border-radius: 50%;
    mix-blend-mode: multiply;
    position: absolute;
    z-index: 1;
    bottom: -170px;
    right:  35%;
}

.footer-logo:first-child:after {
    content: "";
    display: block;
    background: #787C85;
    width: 167px;
    height: 167px;
    border-radius: 50%;
    mix-blend-mode: multiply;
    position: absolute;
    z-index: 1;
    bottom: 70px;
    right:  28%;
}

.footer-nav {
    max-width: 1280px;
    padding: 36px 80px 36px 0;
}

.footer-link {
    margin-right: 5px;
    text-decoration: none;
}


/* Навігаційна адаптивна панель для мобільних */
.adaptive {
    display: none;
}

.background {
    margin: 0 auto;
    padding: 30px 0;
    max-width: 100%;
    background: linear-gradient(180deg, rgba(120, 124, 133, 0) 0%, #787C85 100%);
}

.nav-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #787C85;
    max-width: 767px;
    margin: 0 auto;
    position: relative;
    padding: 10px 30px 45px;
}

.mobile-link {
    text-decoration: none;
}

.mobile-link:hover svg * {
    fill: #1F3865;
    cursor: pointer;
}

.nav-mobile:after {
    content: "";
    display: block;
    width: 135px;
    height: 5px;
    border-radius: 20px;
    background: #0B0B0B;
    position: absolute;
    left: 40%;
    bottom: 0;
    margin: 0 0 8px;
}

.nav-mobile:hover:after {
    background: #01ACB4;
    transition: 0.4s ease;
}

.gradient-item {
    font-size: 0;
}


/*Adaptive_Natali*/
@media only screen 
and (min-width: 320px)
and (max-width: 767px)   {
    .header-wrapper {
        background: none;
    }

    .nav-link {
       display: none; 
     }  
 
    .menu-block {
       position: relative;   
    }

    .logo {
        position: absolute;
        margin: 54px 20px;
        top: 0;
        left: 0;
        height: 60px;
        border: none;
        z-index: 5;
    }
    .logo-name {
        font-size: 24px;
        line-height: 38px;
        position: absolute;
        margin: 64px 90px;
        top: 0;
        left: 0;
    }
    .icons {  
        position: absolute;
        margin: 60px 30px;
        top: 0;
        right: 0;
        gap: 10px;
        z-index: 4;
        
    }
    .item,.item-2
     {
     font-size: 30px;
     line-height: 48px;

    }
    .box-title-1,
    .box-title-2,
    .box-title-4,
    .box-title-3,
    .box-title-5 {
     gap:  12px;  
    }
     .ellipse-1 {
     margin:0 12px;
    }
    .ideas {
      flex-flow: column nowrap;
      margin: 0 auto;
      justify-content: center;
    }
    .idea-card, .b-idea-card {
      height: 330px;
      margin: 0 20px 66px;
    }
    
    /*Navigation*/
    .wishlist-wrapper {
        margin: 0 auto;
    }

    .footer-box {
        display: none;
    }

    .adaptive {
        display: block;
        position: sticky;
        z-index: 8;
        bottom: 0;
    }
    /*Wishlist*/
    .wishlist-box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .wishlist-link {
        position: absolute;
        left: 0;
    }   
    
}