/*Reset for CSS*/
*,
*:before,
*:after {
    box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
	font-family: 'Baloo 2', cursive;
	font-family: 'Nunito', sans-serif;
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*Project*/
.header-box-1 {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background: linear-gradient(180deg, #787C85 0%, #4B5056 75.83%);
}

.logo {
    font-family: 'Baloo 2';
    font-weight: 800;
    font-size: 30px;
    line-height: 48px;
    color: #01ACB4;
    margin: 40px auto 40px 80px;
}

.letter {
    text-transform: uppercase;
}

.nav {
    margin: 40px 130px 40px 0;
}

.nav-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #01ACB4;
    margin: 0 25px;
}

.nav-link:hover {
    border: none;
    padding: 9px 20px;
    border-radius: 20px;
    background: #01ACB4;
    color: #fff;
    transition: 0.4s;
}

/* Навігаційна адаптивна панель для мобільних */
.adaptive {
    display: none;
}

.background {
    margin: 0 auto;
    padding: 30px 0;
    max-width: 375px;
    background: linear-gradient(180deg, rgba(120, 124, 133, 0) 0%, #787C85 100%);
}

.nav-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #787C85;
    max-width: 375px;
    margin: 0 auto;
    position: relative;
    padding: 10px 30px 45px;
}

.mobile-link {
    text-decoration: none;
}

svg:hover * {
    fill: #0B0B0B;
}

.nav-mobile:after {
    content: "";
    display: block;
    width: 135px;
    height: 5px;
    border-radius: 20px;
    background: #0B0B0B;
    position: absolute;
    left: 33%;
    bottom: 0;
    margin: 0 0 8px;
}

.nav-mobile:hover:after {
    background: #01ACB4;
    transition: 0.4s ease;
}